# OS files
.DS_Store
Thumbs.db

# Office and temp files
~$*
*.tmp
*.temp

# Editor folders
.vscode/
.idea/

# Node / Tauri
node_modules/
dist/
target/
src-tauri/target/
apps/*/node_modules/
apps/*/dist/
apps/*/src-tauri/target/
apps/*/src-tauri/keys/*
*.tsbuildinfo
